.DS_Store
.project
.idea
nbproject
.settings
node_modules
logs
public/bower_components
config/runtime.json

data/
build/
vendor/
.sass-cache

*.sw*
*~

node_modules/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# SublimeText project files
*.sublime-workspace




